@model Models.SettingModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
<script>
	const connection = new signalR.HubConnectionBuilder()
		.withUrl("/notify")
		.configureLogging(signalR.LogLevel.Information)
		.build();

	async function start() {
		try {
			await connection.start()
				.then(() => console.log("SignalR Connected."))
				.catch(console.error);
		} catch (err) {
			console.log(err);
			setTimeout(start, 5000);
		}
	};

	connection.onclose(async () => {
		await start();
	});

	connection.on('newMessage', message => {
		console.log(message);
	});

	// Start the connection.
	start();
</script>

