@model Models.SettingModel

<form action="/Home/Setting" method="post">
    

    @using (Html.BeginForm("Setting", "Home", FormMethod.Post))
    {
    <div class="row">
        <div class="col-lg-2">SSID</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.ssid, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Password</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.password, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Ip Address</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.ipAdress, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">Enable Reading</div>
        <div class="col-lg-1">
            @Html.CheckBoxFor(a => a.enableReading, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12"><input type="submit" value="Submit" class="btn btn-primary"></div>
    </div>
    }
</form>
