@model Models.SettingModel


    @using (Html.BeginForm("Setting", "Home", FormMethod.Post))
    {
	<div class="row">
		<div class="col-lg-2">SSID</div>
		<div class="col-lg-10">
			@Html.TextBoxFor(a => a.ssid, new { @class = "form-control" })
		</div>
	</div>
    <br />
    <div class="row">
        <div class="col-lg-2">Password</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.password, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">IP Address</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.ipAdress, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12"><input type="submit" value="Submit" class="btn btn-primary"></div>
    </div>
    }
